* {
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: 700;
    color: rgb(221, 36, 113);
    text-transform: uppercase;
    font-size: 24px;
}

h2{
    font-weight: 500;
    color: rgb(221, 36, 113);
    text-align: center;
    font-size: 24px;
}

h3{
    font-weight: 500;
    font-size: 20px;
    line-height : 30px
}

.color{
    background-color: rgb(255, 225, 89);
}

@media screen and (max-width:767px){
    .texto{
        text-align: center;
    }
}

/* Menú */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 225, 89)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255, 225, 89);
} 

.navbar-nav{
    text-align: right;
}

#navbar__categories li {
    padding: 0.5em 0 0.5em 1em;
}

#navbar__categories li a {
    color: white;
    text-decoration: none;
}

#navbar__categories li a.navbar__categories__active,
#navbar__categories li a:hover{
   color: rgb(255, 225, 89);
}

/* Hero */

#containerHero{
    background-image: linear-gradient(to bottom, rgba(221, 36, 113, 0.320), rgb(255, 225, 89));
    border-radius: 0px 0px 60px 60px;
}

#hero__image{
    width: 98%;
}

#boton{
    width: 150px;
    height: 40px;
    background-color: black;
    border: 1px solid black;
    border-radius: 14px;
    outline: none;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
  
#boton:hover {
    background-color: rgb(221, 36, 113);
    border: 1px solid rgb(221, 36, 113);
    width: 180px;
}

.animacion{
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.burbuja{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    opacity: .3;
    position: absolute;
    bottom: 0;
}

.b1{
    right: 6vw;
    animation: burbuja__bottom 3s linear infinite ;
}

.b2{
    left: 2vw;
    animation: burbuja__top 3s linear infinite ;
}

@keyframes burbuja__bottom{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(20px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes burbuja__top{
    0%{
        top: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(20px);
    }
    50%{
        opacity: .5;
    }
    100%{
        top: 100vh;
        opacity: 0;
    }
}

/* Home */

/* Home Services */
.card{
    border-radius: 10px;
    border-color: rgb(255, 225, 89);
}

.card__image{
    width: 75%;
}

.card__texto{
    text-align:center;
}

/* Home video */
.videoSection__video{
    width: 100%;
    height: 300px;
}

/* Servicios */
.card__titulo2{
    color: rgb(221, 36, 113);
    font-weight: bold;
}
.card__image2{
    width: 70%;
    border-radius: 30px;
}

/* Nosotros */
.nos__image{
    width: 80%;
}

.nos__par{
    text-align: left;
}

/* Principios */
.pri__image{
    width: 40%;
}

/* Testimonios */
.tes__image{
    width: 65%;
}

/* Formulario de contacto */
.contacto__image{
    width: 80%;
}

.contacto__form{
    display: grid;
    grid-area: c-form;
    text-align: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contacto__form input{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 14px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.8s;
}

.contacto__form input:focus{
    width: 340px;
}

.contacto__form textarea{
    width: 300px;
    height: 100px;
    border: 1px solid white;
    border-radius: 14px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    transition: all 0.8s;
}

.contacto__form textarea:focus{
    width: 340px;
}

/* Otros medios */
.medio__image{
    width: 20%;
    filter: invert(100%);
}

/* Pie de pagina */
.icono{
    width: 110%;
    margin-bottom: 5px;
}




