@charset "UTF-8";
* {
  font-family: 'Poppins', sans-serif; }

h1 {
  font-weight: 700;
  color: #dd2471;
  text-transform: uppercase;
  font-size: 24px; }

h2 {
  font-weight: 500;
  color: #dd2471;
  text-align: center;
  font-size: 24px; }

h3 {
  font-weight: 500;
  line-height: 30px;
  font-size: 20px; }

.color {
  background-color: #ffe159; }

.color2 {
  background-color: rgba(255, 255, 255, 0.288); }

.redondeo {
  border-radius: 20px; }

.hero__image {
  background-image: url("../image/bg1.jpg");
  min-height: 60vh;
  background-size: cover;
  position: relative; }

.hero__titulo {
  color: #dd2471;
  font-weight: 700; }

.hero__description {
  font-weight: 500;
  text-align: center; }

.hero__image__color {
  position: absolute;
  background-image: linear-gradient(rgba(196, 196, 196, 0.863), rgba(255, 121, 183, 0.562));
  height: 100%;
  width: 100%; }

@media screen and (max-width: 767px) {
  .texto {
    text-align: center; }
  .hero__image {
    min-height: 40vh; } }

/* Menú */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 225, 89)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar-toggler {
  border-color: #ffe159; }

.navbar-nav {
  text-align: right; }

#navbar__categories li {
  padding: 0.5em 0 0.5em 1em; }
  #navbar__categories li a {
    color: white;
    text-decoration: none; }
    #navbar__categories li a:hover {
      color: #ffe159; }
  #navbar__categories li .navbar__categories__active {
    color: #ffe159; }

#containerHero {
  background-image: linear-gradient(to bottom, #e694b6, #ffe159);
  border-radius: 0px 0px 60px 60px; }

#hero__image {
  width: 100%; }

#boton {
  width: 150px;
  height: 40px;
  background-color: black;
  border: 1px solid black;
  border-radius: 14px;
  outline: none;
  margin-top: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.5s; }
  #boton:hover {
    background-color: #dd2471;
    border: 1px solid #dd2471;
    width: 180px; }

.animacion {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.burbuja, .burbuja1, .burbuja2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  opacity: .3;
  position: absolute;
  bottom: 0;
  right: none;
  left: none;
  animation: none; }

.burbuja1 {
  right: 6vw;
  animation: burbuja__bottom 3s linear infinite; }

.burbuja2 {
  left: 2vw;
  animation: burbuja__top 3s linear infinite; }

@keyframes burbuja__bottom {
  0% {
    bottom: 0;
    opacity: 0; }
  30% {
    transform: translateX(20px); }
  50% {
    opacity: .4; }
  100% {
    bottom: 100vh;
    opacity: 0; } }

@keyframes burbuja__top {
  0% {
    top: 0;
    opacity: 0; }
  30% {
    transform: translateX(20px); }
  50% {
    opacity: .5; }
  100% {
    top: 100vh;
    opacity: 0; } }

/* Home */
/* Home categorias */
.image__redondeo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

/* Home video */
.videoSection__video {
  width: 100%;
  height: 300px; }

/* Servicios */
.card__titulo2 {
  color: #dd2471;
  font-weight: bold; }

.card__image2 {
  width: 50%;
  border-radius: 100%; }

.card__header {
  margin-top: -35px;
  height: 60px;
  background-image: linear-gradient(40deg, #e694b6, #fdd009); }

/* Nosotros */
.nos__image {
  width: 80%; }

.nos__par {
  text-align: left; }

/* Principios */
.pri__image {
  width: 40%; }

/* Testimonios */
.card__background {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(40deg, #e694b6, #fdd009); }

.card__profile {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%; }

/* Formulario de contacto */
.contacto__image {
  width: 80%; }

.caja {
  border-radius: 14px; }

.obligatorio {
  color: #dd2471; }

/* Otros medios */
.medio__image {
  width: 20%;
  filter: invert(100%); }

/* Pie de pagina */
.icono {
  width: 100%;
  margin-bottom: 5px; }
