$color_primario: rgb(255, 225, 89);
$color_primario_variante: rgb(253, 208, 9);
$color_primario_variante2: rgba(255, 255, 255, 0.288);
$color_secundario: rgb(221, 36, 113);
$color_secundario_variante: rgb(230, 148, 182);
$color_blanco: white;
$color_negro: black; 